on post-fs-data

	chown -R root root /sbin
	chmod -R 0755 /sbin
	
	chown -R root root /tmp
	chmod -R 0755 /tmp
	
	chown -R root root /dev
	chmod -R 0755 /dev

	chown -R root root /etc
	chmod -R 0755 /etc	

	restorecon -v sbin/recovery
	restorecon -v sbin/logd
	
	setprop logd.auditd 0

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_rate 30000
    write /sys/devices/system/cpu/cpufreq/ondemand/up_threshold 60
    write /sys/devices/system/cpu/cpufreq/ondemand/io_is_busy 1
    write /sys/devices/system/cpu/cpufreq/ondemand/sampling_down_factor 2

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor "ondemand"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 30000
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_min_freq 30000
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 30000
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_min_freq 30000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1190400
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1190400
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 1190400
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 1190400
