import init.smelt.usb.rc
import init.target.rc
import init.smelt.mot-internal.rc

# Format the following partitions if they don't have a filesystem
service setup_fs /system/bin/setup_fs \
  /dev/block/platform/msm_sdcc.1/by-name/userdata  \
  /dev/block/platform/msm_sdcc.1/by-name/cache
  class core
  user root
  group root
  oneshot

# Force format the following partitions if they don't have a filesystem
service format_fs /system/bin/format_fs \
  /dev/block/platform/msm_sdcc.1/by-name/oem
  class core
  user root
  group root
  oneshot

on init
  chown root system /proc/kmsg
  chmod 0440 /proc/kmsg

  # pstore/annotate-ramoops previous bootreason log
  chown system log /sys/fs/pstore/annotate-ramoops
  chmod 0440 /sys/fs/pstore/annotate-ramoops

  symlink /sdcard /mnt/sdcard
  symlink /sdcard /storage/sdcard0

  # Prevent healthd from preventing/throttling charge during initial boot
  write /sys/devices/0.bq5105x-ctrl/chg_n/value 0
  write /sys/devices/0.bq5105x-ctrl/chg_rate/value 0
  write /sys/devices/0.bq5105x-ctrl/chg_term/value 0
  chmod 0444 /sys/devices/0.bq5105x-ctrl/chg_n/value
  chmod 0444 /sys/devices/0.bq5105x-ctrl/chg_rate/value
  chmod 0444 /sys/devices/0.bq5105x-ctrl/chg_term/value

on charger
  write /sys/devices/system/cpu/cpu1/online 0
  write /sys/devices/system/cpu/cpu2/online 0
  write /sys/devices/system/cpu/cpu3/online 0

on boot
  chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
  chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
  chown bluetooth bluetooth /proc/bluetooth/sleep/proto
  chown bluetooth bluetooth /proc/bluetooth/sleep/asleep
  chown bluetooth bluetooth /proc/bluetooth/sleep/btwake
  chown bluetooth bluetooth /proc/bluetooth/sleep/btwrite
  chown bluetooth bluetooth /proc/bluetooth/sleep/hostwake
  chown bluetooth bluetooth /proc/bluetooth/sleep/lpm

  chmod 0660 /sys/class/rfkill/rfkill0/type
  chmod 0660 /sys/class/rfkill/rfkill0/state
  chmod 0660 /proc/bluetooth/sleep/proto

  # GPS SS5E
  chown root system /dev/spidev4.0
  chown root system /sys/devices/0.ssv_gps/enable_regulator
  chown root system /sys/devices/0.ssv_gps/gps_reset/value
  chown root system /sys/devices/0.ssv_gps/gps_on_off/value
  chown root system /sys/devices/0.ssv_gps/gps_boot_select/value
  chown root system /sys/devices/0.ssv_gps/gps_host_wakeup/value
  chown root system /sys/devices/0.ssv_gps/gps_irq/value
  chown root system /system/etc/firmware/gps/iob_config.xml
  chown root system /system/etc/firmware/gps/eedownloader.cfg

  chmod 0660 /dev/spidev4.0
  chmod 0660 /sys/devices/0.ssv_gps/enable_regulator
  chmod 0660 /sys/devices/0.ssv_gps/gps_reset/value
  chmod 0660 /sys/devices/0.ssv_gps/gps_on_off/value
  chmod 0660 /sys/devices/0.ssv_gps/gps_boot_select/value
  chmod 0440 /sys/devices/0.ssv_gps/gps_host_wakeup/value
  chmod 0440 /sys/devices/0.ssv_gps/gps_irq/value
  chmod 0440 /system/etc/firmware/gps/iob_config.xml
  chmod 0440 /system/etc/firmware/gps/eedownloader.cfg

  #Below entries are to set the GPU frequency and DCVS governor
  write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 200000000
  write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 200000000
  write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance

  mkdir /data/location 0775 root system

  # ACDB file path
  # Most products use default config. Only bowfin is separate.
  mkdir /data/acdbdata
  symlink /system/etc/acdbdata/default /data/acdbdata/carp
  symlink /system/etc/acdbdata/default /data/acdbdata/eel
  symlink /system/etc/acdbdata/default /data/acdbdata/smelt
  symlink /system/etc/acdbdata/bowfin /data/acdbdata/bowfin
  symlink /system/etc/acdbdata/default /data/acdbdata/carp_sw
  symlink /system/etc/acdbdata/default /data/acdbdata/eel_sw
  symlink /system/etc/acdbdata/default /data/acdbdata/smelt_sw
  symlink /system/etc/acdbdata/bowfin /data/acdbdata/bowfin_sw

  setprop persist.audio.calfile0 /data/acdbdata/${ro.product.name}/MTP_Bluetooth_cal.acdb
  setprop persist.audio.calfile1 /data/acdbdata/${ro.product.name}/MTP_General_cal.acdb
  setprop persist.audio.calfile2 /data/acdbdata/${ro.product.name}/MTP_Global_cal.acdb
  setprop persist.audio.calfile3 /data/acdbdata/${ro.product.name}/MTP_Handset_cal.acdb
  setprop persist.audio.calfile4 /data/acdbdata/${ro.product.name}/MTP_Hdmi_cal.acdb
  setprop persist.audio.calfile5 /data/acdbdata/${ro.product.name}/MTP_Headset_cal.acdb
  setprop persist.audio.calfile6 /data/acdbdata/${ro.product.name}/MTP_Speaker_cal.acdb

  # Force all SSR systems to 'related' so they attempt self-recovery without
  # rebooting the device
  write /sys/bus/msm_subsys/devices/subsys0/restart_level related
  write /sys/bus/msm_subsys/devices/subsys1/restart_level related

  # disable network time update
  setprop config.disable_networktime true

  #Allow CX to go to Vdd min on idle
  write /sys/kernel/debug/mdp/allow_cx_vddmin 1

  mkdir /data/chargeonlymode 0750 root system

service ss5e-fw-check /system/bin/ss5e_fw_check.sh
  class main
  user root
  group root log
  oneshot

service m4setup /system/bin/m4setup
  user root
  oneshot

on fs
  mount_all /fstab.smelt
  start init-fs
  wait /fstab.ready

  restorecon_recursive /persist

  write /sys/kernel/boot_adsp/boot 1

  chown system system /sys/bus/i2c/devices/5-004a/interactivemode
  chown system system /sys/class/leds/lcd-backlight/interactive

on post-fs-data

  # we will remap this as /mnt/sdcard with the sdcard fuse tool
  mkdir /data/media 0770 media_rw media_rw
  chown media_rw media_rw /data/media

  # Battery Logging
  mkdir /data/misc/power_supply_logger 0770 root log
  mkdir /persist/battery 0750 root log

  # GPS firmware upgrade check
  start ss5e-fw-check

service mmi-boot-sh /system/bin/init.mmi.boot.sh
  class main
  user root
  group root log
  oneshot

on property:sys.boot_completed=1
  write /sys/module/intelli_plug/parameters/enabled 1
  write /sys/module/intelli_plug/parameters/touch_boost 1

  chmod 0644 /sys/devices/0.bq5105x-ctrl/chg_n/value
  chmod 0644 /sys/devices/0.bq5105x-ctrl/chg_rate/value
  chmod 0644 /sys/devices/0.bq5105x-ctrl/chg_term/value

  # Free memory cache
  write /proc/sysrq-trigger s
  write /proc/sys/vm/drop_caches 3
  write /proc/sys/vm/vfs_cache_pressure 10000

  restart healthd

on property:hw.m4.download_complete=true
  start m4setup

on property:hw.m4.setup_complete=true
  write /sys/devices/f9924000.i2c/i2c-2/2-0043/log_level ${hw.m4.loglevel}

service bugreport /system/bin/dumpstate -d -p -B \
        -o /data/data/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot

service clockwork_proxy /system/bin/ClockworkProxy
    class main

service utag_sync /system/bin/utag_sync
    user root
    group root system
    oneshot

on property:sys.boot_completed=1
    start utag_sync

service chargeonlymode /system/bin/charge_only_mode
    class charger
    seclabel u:r:chargeonlymode:s0

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -aABDKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

on early-init
    write /sys/module/intelli_plug/parameters/enabled 0

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 787200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 787200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor userspace
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed 787200

    mount debugfs debugfs /sys/kernel/debug mode=755
    # Exporting GPIO2 and GPIO3
    write /sys/class/gpio/export 2
    write /sys/class/gpio/export 3
    restorecon_recursive /sys/devices/fd510000\.gpio/gpio/gpio2
    restorecon_recursive /sys/devices/fd510000\.gpio/gpio/gpio3

service init-fs /system/bin/sh /init.fs.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:shell:s0
